<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center text-white">
        <h1 class="main-title">Hakkımızda</h1>
        <p>Yeşiloğulları, en lezzetli Antep tatlılarını sunar.</p>
        <p>Adres: Tatlı Sokak No:1, Antep</p>
        <p>Telefon: 0123 456 789</p>
    </div>
</body>
</html>
